@{
    ViewBag.Title = "Home Page";
}

@model TEK.Recruit.Web.ViewModels.NewTestEnvironmentSetUpViewModel

<div class="jumbotron">
    <h1>Candidates coding excercice environment set up</h1>
    <p class="lead">Use this page to set up a environment for the coding excercie of TEKSystems Candidates</p>
</div>

<h1>Create Candidate Test Environment</h1>
<hr />
<div id="responseMessage" class="alert hide">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <p id="responseMessageText"></p>
</div>
@using (Html.BeginForm("CreateTestEnv", "Home", new { }, FormMethod.Post, new { id = "creationForm" }))
{
    <div class="row">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="col-lg-6">
            <h3>Environment:</h3>
            <div id="emailGroup" class="form-group">
                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control input-sm", id = "emailTxt", placeholder = "Candidate's Email", @autofocus = "autofocus" })
                <p id="emailValidation" class="text-danger"></p>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Username, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control input-sm", placeholder = "Candidate's Username" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-sm", placeholder = "Candidate's Name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.Customers, new { @class = "control-label" })
                @Html.DropDownListFor(vm => vm.SelectedCustomer, @Model.Customers, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.AvailableTestEnv, new { @class = "control-label" })
                @Html.DropDownListFor(vm => vm.SelectedDevEnv, @Model.AvailableTestEnv, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.AvailablePosition, new { @class = "control-label" })
                @Html.DropDownListFor(vm => vm.SelectedPosition, @Model.AvailablePosition, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.AvailableCenter, new { @class = "control-label" })
                @Html.DropDownListFor(vm => vm.SelectedCenter, @Model.AvailableCenter, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="col-lg-6">
            <h3>Candidate Adress:</h3>
            <div class="form-group">
                @Html.LabelFor(vm => vm.City, new { @class = "control-label" })
                @Html.TextBoxFor(vm => vm.City, new { @class = "form-control input-sm", placeholder = "City" })
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.PostalCode, new { @class = "control-label" })
                @Html.TextBoxFor(vm => vm.PostalCode, new { @class = "form-control input-sm", placeholder = "Postal code" })
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.State, new { @class = "control-label" })
                @Html.TextBoxFor(vm => vm.State, new { @class = "form-control input-sm", placeholder = "State" })
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.Country, new { @class = "control-label" })
                @Html.TextBoxFor(vm => vm.Country, new { @class = "form-control input-sm", placeholder = "Country" })
            </div>
            <h3>Recruiter:</h3>
            <div class="form-group">
                <p>Please provide your email if you want to receive a copy of the candidates' welcome email</p>
                @Html.LabelFor(vm => vm.RecruiterEmail, new { @class = "control-label" })
                @Html.TextBoxFor(vm => vm.RecruiterEmail, new { @class = "form-control input-sm", placeholder = "Recruiter' Email" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-xs btn-primary">SetUp Environment</button>
            </div>
        </div>
    </div>
}