@model WebSite3.Models.CandidateEvaluationFormViewModel

@{
    ViewBag.Title = "Candidate evaluation";
}

<h1>Evaluate the Candidate for the following criterias</h1>
@using (Html.BeginForm("CandidateEvaluation", "CodingTestEnv", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(vm => vm.CandidateId)
    @Html.HiddenFor(vm => vm.ProjectId)
    <div class="form-group">
        @Html.LabelFor(vm => vm.CodeQuality, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.CodeQuality, new { @class = "form-control input-sm", @id = "codeQuality", placeholder = "Code Quality", @autofocus = "autofocus" })

    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.CulturalFit, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.CulturalFit, new { @class = "form-control input-sm", placeholder = "Cultural fit" })
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.TechnicalInterview, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.TechnicalInterview, new { @class = "form-control input-sm", placeholder = "Technical interview" })
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.City, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.City, new { @class = "form-control input-sm", placeholder = "City" })
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.PostalCode, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.PostalCode, new { @class = "form-control input-sm", placeholder = "Postal code" })
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.State, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.State, new { @class = "form-control input-sm", placeholder = "State" })
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Country, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.Country, new { @class = "form-control input-sm", placeholder = "Country" })
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Position, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.Position, new { @class = "form-control input-sm", placeholder = "Position" })
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.TekLocation, new { @class = "control-label" })
        @Html.TextBoxFor(vm => vm.TekLocation, new { @class = "form-control input-sm", placeholder = "TEK's location" })
    </div>

    <button type="submit" class="btn btn-xs btn-primary">Save</button>
}