@model TEK.Recruit.Web.ViewModels.CandidateEvaluationFormViewModel

@{
    ViewBag.Title = "Candidate evaluation";
}

<h1>Evaluate the Candidate for the following criterias</h1>
@using (Html.BeginForm("CandidateEvaluation", "CodingTestEnv", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(vm => vm.CandidateProfile.CandidateId)
    @Html.HiddenFor(vm => vm.CandidateProfile.ProjectId)
    @Html.HiddenFor(vm => vm.CustomerId)
    @Html.HiddenFor(vm => vm.CustomerName)
    @Html.HiddenFor(vm => vm.CandidateProfile.DevEnv)
    @Html.HiddenFor(vm => vm.CandidateProfile.Email)
    @Html.HiddenFor(vm => vm.CandidateProfile.Name)
    @Html.HiddenFor(vm => vm.CandidateProfile.Username)
    @Html.HiddenFor(vm => vm.CandidateProfile.Position)
    @Html.HiddenFor(vm => vm.CandidateProfile.TEKCenter)
    @Html.HiddenFor(vm => vm.CandidateProfile.Address.City)
    @Html.HiddenFor(vm => vm.CandidateProfile.Address.Country)
    @Html.HiddenFor(vm => vm.CandidateProfile.Address.PostalCode)
    @Html.HiddenFor(vm => vm.CandidateProfile.Address.State)
    @Html.HiddenFor(vm => vm.InterviewEyeball.PassedFirstScreenSelectionDate)
    @Html.HiddenFor(vm => vm.FinalAssement.PassedFinalSelectionDate)

    <div class="form-group">
        <hr />
        <div class="=row">
            <div class="col-lg-12">
                <p>
                    <label>Customer:</label> @Model.CustomerName<br />
                    <label>Dev environement:</label> @Model.CandidateProfile.DevEnv<br />
                    <label>Position:</label> @Model.CandidateProfile.Position<br />
                    <label>
                        Email:
                    </label> @Model.CandidateProfile.Email<br />
                    <label>
                        Name:
                    </label> @Model.CandidateProfile.Name<br />
                    <label>
                        Username:
                    </label> @Model.CandidateProfile.Username<br />
                    <label>
                        TEKSystem's Center:
                    </label> @Model.CandidateProfile.TEKCenter<br />
                    <label>Adress:</label> @Model.CandidateProfile.Address.PostalCode, @Model.CandidateProfile.Address.City, @Model.CandidateProfile.Address.Country, @Model.CandidateProfile.Address.State
                </p>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-lg-4">
                <h3>Interview Eyeball</h3>
                <div class="form-group">
                    @Html.RadioButtonFor(vm => vm.InterviewEyeball.PassedFirstScreenSelection, "true", new { @id = "passedFirstScreenSelectionTrue" })
                    @Html.Label("passedFirstScreenSelectionTrue", "Go", new { @class = "control-label" })
                    @Html.RadioButtonFor(vm => vm.InterviewEyeball.PassedFirstScreenSelection, "false", new { @id = "passedFirstScreenSelectionFalse" })
                    @Html.Label("passedFirstScreenSelectionFalse", "NoGo", new { @class = "control-label" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(vm => vm.InterviewEyeball.CodeQuality, new { @class = "control-label" })
                    @Html.TextBoxFor(vm => vm.InterviewEyeball.CodeQuality, new { @class = "form-control input-sm", @id = "codeQuality", placeholder = "Code Quality", @autofocus = "autofocus" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(vm => vm.InterviewEyeball.Agenda, new { @class = "control-label" })
                    @Html.TextAreaFor(vm => vm.InterviewEyeball.Agenda, new { @class = "form-control input-sm", placeholder = "Agenda", rows = "10", cols = "100" })
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Interview Feedback</h3>
                <div class="form-group">
                    @Html.LabelFor(vm => vm.InterviewFeedback.CulturalFit, new { @class = "control-label" })
                    @Html.TextBoxFor(vm => vm.InterviewFeedback.CulturalFit, new { @class = "form-control input-sm", placeholder = "Cultural fit" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(vm => vm.InterviewFeedback.TechnicalInterview, new { @class = "control-label" })
                    @Html.TextBoxFor(vm => vm.InterviewFeedback.TechnicalInterview, new { @class = "form-control input-sm", placeholder = "Technical interview" })
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Final Assement</h3>
                <div class="form-group">
                    @Html.RadioButtonFor(vm => vm.FinalAssement.PassedFinalSelection, "true", new { @id = "passedFinalSelectionTrue" })
                    @Html.Label("passedFinalSelectionTrue", "Go", new { @class = "control-label" })
                    @Html.RadioButtonFor(vm => vm.FinalAssement.PassedFinalSelection, "false", new { @id = "passedFinalSelectionFalse" })
                    @Html.Label("passedFinalSelectionFalse", "NoGo", new { @class = "control-label" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(vm => vm.FinalAssement.FinalFeedback, new { @class = "control-label" })
                    @Html.TextAreaFor(vm => vm.FinalAssement.FinalFeedback, new { @class = "form-control input-sm", placeholder = "Final feedback", rows = "10", cols = "100" })
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-xs btn-primary">Save</button>
        </div>
    </div>
}